<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/foundation.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css')}}">
</head>

<body>
<header>
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li class="menu-text"> My Favorites</li>
                {% block menu %}{% endblock %}
            </ul>
        </div>
        <div class="top-bar-right">
            {% if current_user.is_authenticated %}
                {{ current_user.nickname }}
                <a class="navbar-brand" href="/logout">Logout</a>
            {% else %}
                <p>
                    <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
                    <a class="btn btn-success" href="/login">Войти</a>
                </p>
            {% endif %}
        </div>
    </div>

</header>

<div class="grid-container fluid">
    {% block content %}{% endblock %}
</div>

<script src="static/js/vendor/jquery.js"></script>
<script src="static/js/vendor/what-input.js"></script>
<script src="static/js/vendor/foundation.min.js"></script>
<script>
      $(document).foundation();


</script>
</body>
</html>
