{% extends 'base.html' %}

{% block title %}Links{% endblock %}
{% block menu %}
<li class="is-active"><a>Ссылки</a></li>
{% if current_user.is_authenticated %}
    <li><a href="{{url_for('link_add')}}">Новая Ссылка</a></li>
{% endif %}
{% endblock %}

{% block content %}
<div class="grid-x grid-padding-x grid-padding-y">
    <div class="large-3 medium-3 cell">
        <p>ПОИСК</p>
        <form action="" method="post" novalidate>
            {{ search_form.hidden_tag() }}
            <div class="grid-container">
                <div class="grid-x grid-padding-x">
                    <div class="large-12 cell">
                        {{ search_form.link.label }}
                        {{ search_form.link(type="text") }}
                    </div>
                    <div class="large-12 cell">
                        {{ search_form.title.label }}
                        {{ search_form.title(type="text") }}
                    </div>
                    <div class="large-12 cell">
                        {{ search_form.comment.label }}
                        {{ search_form.comment(type="text") }}
                    </div>
                    <div class="large-12 cell">
                        {{ search_form.category.label }}
                        {{ search_form.category(type="selectfield") }}
                    </div>
                    <div class="large-12 cell text-center">
                        {{ search_form.search_submit(type="submit", class='hollow small button', value='Найти') }}
                        {% if report_msg %}
                        <div class="callout warning">{{ report_msg }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="auto cell">
        {% for link in links %}
            {% if link.is_private == False or (link.is_private and current_user.is_authenticated and current_user == link.user) %}
                <table class="text-left">
                    <tbody>
                    <tr>
                        <th width="100">Ссылка</th>
                        <td class="link"><a class="link" href="{{ link.link }}">{{ link.link }}</a></td>
                    </tr>
                    <tr>
                        <th width="100">Заголовок</th>
                        <td>{{ link.title }}</td>
                    </tr>
                    {% if link.comment %}
                    <tr>
                        <th width="100">Комментарий</th>
                        <td>{{ link.comment }}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th width="100">Категория</th>
                        <td>{{ link.category }}</td>
                    </tr>
                    <tr>
                        <th width="100">Автор</th>
                        <td>{{link.user.nickname}}</td>
                    </tr>
                    <tr>
                        <th width="100">Дата написания</th>
                        <td>{{link.created_date}}</td>
                    </tr>
                    {% if current_user.is_authenticated and current_user == link.user %}
                        <tr>
                            <td colspan="2" class="table_menu">
                                <a href="/links/{{ link.id }}" style="margin-left: 15px;"><img
                                        src="{{ url_for('static', filename='icon/edit.png') }}"/></a>
                                <a href="/link_delete/{{ link.id }}" style="margin-left: 15px;"><img
                                        src="{{ url_for('static', filename='icon/delete.png') }}"/></a>
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            {% endif %}
        {% endfor %}
        {{ pagination.links }}
    </div>
    <div class="auto cell">
        <div class="grid-x grid-padding-x">
            <div class="large-6 cell text-left">
                <select onchange="window.location.href = this.options[this.selectedIndex].value">
                    {% if order=='desc' %}
                    <option value="{{ url_for('set_sort', order='desc') }}" selected>новые сверху</option>
                    <option value="{{ url_for('set_sort', order='asc') }}">старые сверху</option>
                    {% else %}
                    <option value="{{ url_for('set_sort', order='desc') }}">новые сверху</option>
                    <option value="{{ url_for('set_sort', order='asc') }}" selected>старые сверху</option>
                    {% endif %}
                </select>
            </div>
        </div>
    </div>
</div>
{% endblock %}
