{% extends 'base.html' %}


{% block title %}{{title}}{% endblock %}
{% block menu %}
<li><a href="{{url_for('links')}}">Ссылки</a></li>
{% if current_user.is_authenticated %}
<li class="is-active"><a>Новая ссылка</a></li>
{% endif %}
{% endblock %}

{% block user %}
<li><a class="btn btn-primary " href="/register">Зарегистрироваться</a></li>
<li><a class="btn btn-success" href="/login">Войти</a></li>
{% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>


<form action="" method="post" novalidate>
    {{ link_form.hidden_tag() }}
    <div class="grid-x grid-padding-x grid-padding-y">
        <div class="auto cell">
            <div class="grid-x grid-padding-x">
                <div class="large-12 cell">
                    {{ link_form.link.label }}
                    {{ link_form.link(type="textarea", rows="3") }}
                    {% for error in link_form.link.errors %}
                    <div class="callout alert">{{ error}}</div>
                    {% endfor %}
                </div>
                <div class="large-12 cell">
                    {{ link_form.title.label }}
                    {{ link_form.title(type="textarea", rows="3") }}
                    {% for error in link_form.title.errors %}
                    <div class="callout alert">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="large-12 cell">
                    {{ link_form.comment.label }}
                    {{ link_form.comment(type="textarea", rows="3") }}
                </div>
                <div class="large-12 cell">
                    {{ link_form.category.label }}
                    {{ link_form.category(type="selectfield") }}
                </div>
                <div class="large-12 cell">{{ link_form.is_private() }} {{ link_form.is_private.label }}</div>
                <div class="large-12 cell text-centre">
                    {{ link_form.link_submit(type="submit", class="button success", value='Сохранить')}}
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}